<p>¡Hola {{user.available_name}},</p>

<p>Has recibido un nuevo mensaje en tu conversación asignada.</p>

<p>
Haz click aqui <a href="https://holboxphotos.com/mi-cuenta/messages">bandeja de mensajes</a> para poder contestar.
</p>
