<p>¡Hola {{user.available_name}},</p>

<p>Has recibido un nuevo mensaje en tu conversación asignada.</p>

<p>
Click <a href="https://holboxphotos.com/mi-cuenta/messages">here</a> to get cracking.
</p>
