<p>Hi {{user.available_name}},</p>

<p>You have received a new message in a conversation you are participating.</p>

Click <a href="https://holboxphotos.com/mi-cuenta/messages">here</a> to get cracking.