<p>¡Hola {{user.available_name}},</p>

<p>Has recibido un nuevo mensaje en una conversación en la que estás participando.</p>

Click <a href="https://holboxphotos.com/mi-cuenta/messages">here</a> to get cracking.