<p>Este es el correo de Automation System.</p>

<p>{{ custom_message }}</p>

<p>
Haz click aqui :<a href="https://holboxphotos.com/mi-cuenta/messages">bandeja de mensajes</a> para poder contestar.
</p>
